
.btn-adminControls {
    flex: 1;
    margin: 0 10px;
    background-color: #001;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    max-width: 200px;
}

.btn-adminControls:hover {
    background-color: #333;
    color: #fff;
}

.btn-adminApprove {
    flex: 1;
    margin: 0 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 74px;
    padding: 5px 30px;
    max-width: 200px;
}

.btn-adminApprove:hover {
    background-color: rgb(1, 93, 1);
    color: #fff;
}

.btn-adminReject {
    flex: 1;
    margin: 0 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 74px;
    padding: 5px 30px;
    max-width: 200px;
}

.btn-adminReject:hover {
    background-color: rgb(108, 0, 0);
    color: #fff;
}

.btn-adminControlsWide {
    flex: 1;
    margin: 5px;
    background-color: #001;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.btn-adminControlsWide:hover {
    background-color: #001;
    color: #fff;
}

.btn-adminControlsWide2 {
    flex: 1;
    margin: 5px;
    background-color: #001;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.btn-adminControlsWide2:hover {
    background-color: #333;
    color: #fff;
}

.card {
    border-radius: 15px;
    border-width: 1px;
    border-color: black;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 18rem;
}

.card-header {
    background: white;
    color: black;
    padding: 1rem;
    padding-top: 1.5rem;
    text-align: center;
}

.card-body {
    padding: 1.5rem;
}

.card-text-center {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.card-footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem;
}

.stat-card-header {
    color: black;
    border-color: black;
    padding: 1rem;
    padding-top: 1.5rem;
    text-align: center;
}

.slide-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: black;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

input:disabled + .slider {
    background-color: black;
}
