
.button-like-customerDash {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    font-size: 2rem;
    border-radius: 5px;
    user-select: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 0;
}

.button-like-customerDash:active {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.button-like-customerDash:focus {
    outline: none;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.btn-customerWhite {
    flex: 1;
    margin: 0 10px;
    background-color: white;
    color: #000;
    border: 1px solid black;
    border-radius: 5px;
    width: 74px;
    padding: 5px 15px;
    max-width: 200px;
}

.btn-customerWhite:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

