
.button-like-serviceProfessionalDash {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    font-size: 2rem;
    border-radius: 5px;
    user-select: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 0;
}

.button-like-serviceProfessionalDash:active {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.button-like-serviceProfessionalDash:focus {
    outline: none;
}

.btn-serviceProfessionalApprove {
    flex: 1;
    margin: 0 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 74px;
    padding: 5px 30px;
    max-width: 200px;
}

.btn-serviceProfessionalApprove:hover {
    background-color: rgb(1, 93, 1);
    color: #fff;
}

.btn-serviceProfessionalReject {
    flex: 1;
    margin: 0 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 74px;
    padding: 5px 30px;
    max-width: 200px;
}

.btn-serviceProfessionalReject:hover {
    background-color: rgb(108, 0, 0);
    color: #fff;
}

.btn-serviceProfessionalWhite {
    flex: 1;
    margin: 0 10px;
    background-color: white;
    color: #000;
    border: 1px solid black;
    border-radius: 5px;
    width: 74px;
    padding: 5px 15px;
    max-width: 200px;
}

.btn-serviceProfessionalWhite:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

